<nav>
  <div class="container">
    <img src="./assets/logo.png" class="logo">
    <div class="search-bar">
      <mat-icon class="material-icons-sharp">search</mat-icon>
      <input type="search" placeholder="Search">
    </div>
    <div class="profile-area">
      <div class="theme-btn">
        <mat-icon class="material-icons-sharp active">wb_sunny</mat-icon>
        <mat-icon class="material-icons-sharp">dark_mode</mat-icon>
      </div>
      <div class="profile">
        <div class="profile-photo">
          <img src="./assets/profile-1.jpg">
        </div>
        <h5>Administrator</h5>
        <mat-icon class="material-icons-sharp">expand_more</mat-icon>
      </div>
      <button id="menu-btn">
        <mat-icon class="material-icons-sharp">menu</mat-icon>
      </button>
    </div>
  </div>
</nav>

