<section>
  <div class="login-box">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginClick()">
      <h2>Login</h2>
      <div class="input-box">
        <span class="icon">
          <mat-icon class="material-icons-sharp">mail</mat-icon>
        </span>
        <input matInput type="email" formControlName="email" placeholder="user@mydomain.com" required>
        <mat-label class="label">Email</mat-label>
      </div>
      <div class="input-box">
        <span class="icon">
          <mat-icon class="material-icons-sharp">lock-closed</mat-icon>
        </span>
        <input matInput type="password" formControlName="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" required>
        <mat-label class="label">Password</mat-label>
      </div>
      <div class="forgot">
        <a href="#">Forgot Password?</a>
      </div>
      <button mat-flat-button type="submit" [disabled]="!loginForm.valid">Login</button>
      <div class="register-link">
        <p>Don't have an account?
          <a href="#">Register</a>
        </p>
      </div>
    </form>
  </div>
</section>
