<main>
  <aside>
    <button id="close-btn">
      <mat-icon class="material-icons-outlined">close</mat-icon>
    </button>

    <div class="sidebar">
      <a href="#" class="active">
        <mat-icon class="material-icons-sharp">dashboard</mat-icon>
        <h4>Dashboard</h4>
      </a>
      <a href="#">
        <mat-icon class="material-icons-sharp">currency_exchange</mat-icon>
        <h4>Exchange</h4>
      </a>
      <a href="#">
        <mat-icon class="material-icons-sharp">account_balance_wallet</mat-icon>
        <h4>Wallet</h4>
      </a>
      <a href="#">
        <mat-icon class="material-icons-sharp">payment</mat-icon>
        <h4>Transactions</h4>
      </a>
      <a href="#">
        <mat-icon class="material-icons-sharp">pie_chart</mat-icon>
        <h4>Analytics</h4>
      </a>
      <a href="#">
        <mat-icon class="material-icons-sharp">message</mat-icon>
        <h4>Messages</h4>
      </a>
      <a href="#">
        <mat-icon class="material-icons-sharp">help_center</mat-icon>
        <h4>Help Center</h4>
      </a>
      <a href="#">
        <mat-icon class="material-icons-sharp">settings</mat-icon>
        <h4>Settings</h4>
      </a>
    </div>

    <div class="updates">
      <mat-icon class="material-icons-sharp">update</mat-icon>
      <h4>Updates Available</h4>
      <p>Security Updates</p>
      <p>General Updates</p>
      <a href="#">Update Now</a>
    </div>
  </aside>

</main>
