<app-navbar></app-navbar>
<main>

  <app-sidebar></app-sidebar>

  <section class="middle">
    <div class="header">
      <h1>Overview</h1>
      <input type="date">
    </div>
    <div class="cards">

      <div class="card">
        <div class="top">
          <div class="left">
            <img src="./assets/BTC.png">
            <h2>BTC</h2>
          </div>
          <img src="./assets/visa.png" class="right">
        </div>
        <div class="middle">
          <h1>$827,199</h1>
          <div class="chip">
            <img src="./assets/card%20chip.png">
          </div>
        </div>
        <div class="bottom">
          <div class="left">
            <small>Card Holder</small>
            <h5>JOHN DOE</h5>
          </div>
          <div class="right">
            <div class="expiry">
              <small>Expiry</small>
              <h5>08/24</h5>
            </div>
            <div class="cvv">
              <small>CVV</small>
              <h5>123</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- END CARD 1 -->

      <div class="card">
        <div class="top">
          <div class="left">
            <img src="./assets/ETH.png">
            <h2>ETH</h2>
          </div>
          <img src="./assets/master%20card.png" class="right">
        </div>
        <div class="middle">
          <h1>$95,623</h1>
          <div class="chip">
            <img src="./assets/card%20chip.png">
          </div>
        </div>
        <div class="bottom">
          <div class="left">
            <small>Card Holder</small>
            <h5>JOHN DOE</h5>
          </div>
          <div class="right">
            <div class="expiry">
              <small>Expiry</small>
              <h5>08/24</h5>
            </div>
            <div class="cvv">
              <small>CVV</small>
              <h5>124</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- END CARD 2 -->

      <div class="card">
        <div class="top">
          <div class="left">
            <img src="./assets/ada.png">
            <h2>ADA</h2>
          </div>
          <img src="./assets/visa.png" class="right">
        </div>
        <div class="middle">
          <h1>$74,384</h1>
          <div class="chip">
            <img src="./assets/card%20chip.png">
          </div>

        </div>
        <div class="bottom">
          <div class="left">
            <small>Card Holder</small>
            <h5>JOHN DOE</h5>
          </div>
          <div class="right">
            <div class="expiry">
              <small>Expiry</small>
              <h5>08/24</h5>
            </div>
            <div class="cvv">
              <small>CVV</small>
              <h5>123</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- END CARD 3 -->
    </div>
    <!-- END CARDS -->

    <div class="monthly-report">
      <div class="report">
        <h3>Income</h3>
        <div>
          <details>
            <h1>$29,023</h1>
            <h6 class="success">+3.5%</h6>
          </details>
          <p class="text-muted">Compared to $26,938 last month</p>
        </div>
      </div>

      <!-- END OF INCOME REPORT -->

      <div class="report">
        <h3>Expenses</h3>
        <div>
          <details>
            <h1>$9,005</h1>
            <h6 class="danger">-6.5%</h6>
          </details>
          <p class="text-muted">Compared to 11,912 last month</p>
        </div>
      </div>

      <!-- END OF EXPENSES REPORT -->

      <div class="report">
        <h3>Cashback</h3>
        <div>
          <details>
            <h1>$9,004</h1>
            <h6 class="success">+7,1%</h6>
          </details>
          <p class="text-muted">Compared to $3,028 last month</p>
        </div>
      </div>

      <!-- END OF CASHBACK REPORT -->

      <div class="report">
        <h3>Turnover</h3>
        <div>
          <details>
            <h1>118,224</h1>
            <h6 class="danger">-17.8%</h6>
          </details>
          <p class="text-muted">Compared to $114,234 last month</p>
        </div>
      </div>

      <!-- END OF TURNOVER REPORT -->

    </div>

    <!-- END OF MONTHLY REPORT -->
    <div class="fast-payment">
      <h2>Fast Payment</h2>
      <div class="badges">

        <div class="badge">
          <mat-icon class="material-icons-sharp">add</mat-icon>
        </div>

        <div class="badge">
          <span class="bg-primary"></span>
          <div>
            <h5>Training</h5>
            <h4>$50</h4>
          </div>
        </div>

        <div class="badge">
          <span class="bg-success"></span>
          <div>
            <h5>Internet</h5>
            <h4>$40</h4>
          </div>
        </div>

        <div class="badge">
          <span class="bg-primary"></span>
          <div>
            <h5>Gas</h5>
            <h4>$190</h4>
          </div>
        </div>


        <div class="badge">
          <span class="bg-danger"></span>
          <div>
            <h5>Movies</h5>
            <h4>$50</h4>
          </div>
        </div>

        <div class="badge">
          <span class="bg-primary"></span>
          <div>
            <h5>Education</h5>
            <h4>$999</h4>
          </div>
        </div>

        <div class="badge">
          <span class="bg-danger"></span>
          <div>
            <h5>Electricity</h5>
            <h4>$109</h4>
          </div>
        </div>

        <div class="badge">
          <span class="bg-success"></span>
          <div>
            <h5>Food</h5>
            <h4>$399</h4>
          </div>
        </div>
      </div>
    </div>

    <!-- END OF FAST PAYMENT -->

    <div class="insights">
      <div class="income">
        <mat-icon class="material-icons-sharp">analytics</mat-icon>
        <div class="middle">
          <div class="left">
            <h3>Total Income</h3>
            <h1>$25,024</h1>
          </div>
          <div class="progress">
            <svg>
              <circle cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <p>81%</p>
            </div>
          </div>
        </div>
        <small class="text-muted">Last 24 Hours</small>
      </div>
      <!-- END OF SALES -->

      <div class="expenses">
        <mat-icon class="material-icons-sharp">bar_chart</mat-icon>
        <div class="middle">
          <div class="left">
            <h3>Total Expenses</h3>
            <h1>$14,160</h1>
          </div>
          <div class="progress">
            <svg>
              <circle cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <p>62%</p>
            </div>
          </div>
        </div>
        <small class="text-muted">Last 24 Hours</small>
      </div>
      <!-- END OF EXPENSES -->

      <div class="overall">
        <mat-icon class="material-icons-sharp">stacked_line_chart</mat-icon>
        <div class="middle">
          <div class="left">
            <h3>Financial Overview</h3>
            <h1>$10,864</h1>
          </div>
          <div class="progress">
            <svg>
              <circle cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <p>44%</p>
            </div>
          </div>
        </div>
        <small class="text-muted">Last 24 Hours</small>
      </div>
      <!-- END OF INCOME -->
    </div>

    <!-- END OF INSIGHTS -->

  </section>
  <!-- END OF MIDDLE -->

  <section class="right">
    <div class="investments">
      <div class="header">
        <h1>Investments</h1>
        <a href="#">More
          <mat-icon class="material-icons-sharp">chevron_right</mat-icon>
        </a>
      </div>
      <div class="investment">
        <img src="./assets/uniliver.png">
        <h4>Unilever</h4>
        <div class="date-time">
          <p>7 Nov, 2021</p>
          <small class="text-muted">9:14pm</small>
        </div>
        <div class="bonds">
          <p>1402</p>
          <small class="text-muted">Bonds</small>
        </div>
        <div class="amount">
          <h4>$20,033</h4>
          <small class="danger">-4.27%</small>
        </div>
      </div>
      <!-- END OF INVESTMENT -->

      <div class="investment">
        <img src="./assets/tesla.png">
        <h4>Tesla</h4>
        <div class="date-time">
          <p>1 Dec, 2021</p>
          <small class="text-muted">11:54am</small>
        </div>
        <div class="bonds">
          <p>5377</p>
          <small class="text-muted">Bonds</small>
        </div>
        <div class="amount">
          <h4>$720,110</h4>
          <small class="success">+38.27%</small>
        </div>
      </div>
      <!-- END OF INVESTMENT -->

      <div class="investment">
        <img src="./assets/monster.png">
        <h4>Monster</h4>
        <div class="date-time">
          <p>1 Dec, 2021</p>
          <small class="text-muted">4:02pm</small>
        </div>
        <div class="bonds">
          <p>700</p>
          <small class="text-muted">Bonds</small>
        </div>
        <div class="amount">
          <h4>$13,110</h4>
          <small class="success">+7.27%</small>
        </div>
      </div>
      <!-- END OF INVESTMENT -->

      <div class="investment">
        <img src="./assets/mcdonalds.png">
        <h4>McDonalds</h4>
        <div class="date-time">
          <p>3 Dec, 2021</p>
          <small class="text-muted">8:17pm</small>
        </div>
        <div class="bonds">
          <p>5200</p>
          <small class="text-muted">Bonds</small>
        </div>
        <div class="amount">
          <h4>$78,030</h4>
          <small class="danger">-1.02%</small>
        </div>
      </div>
      <!-- END OF INVESTMENT -->
    </div>
    <!-- END OF INVESTMENTS -->
    <div class="recent-transactions">
      <div class="header">
        <h2>Recent Transactions</h2>
        <a href="/transactions">More
          <mat-icon class="material-icons-sharp">chevron_right</mat-icon>
        </a>
      </div>
      <div class="transaction">
        <div class="service">
          <div class="icon bg-purple-light">
            <mat-icon class="material-icons-sharp purple">headset_mic</mat-icon>
          </div>
          <div class="details">
            <h4>Music</h4>
            <p>19.09.2023</p>
          </div>
        </div>
        <div class="card-details">
          <div class="card bg-danger">
            <img src="./assets/visa.png">
          </div>
          <div class="details">
            <p>*2757</p>
            <small class="text-muted">Credit Card</small>
          </div>
        </div>
        <h4>-$20</h4>
      </div>
      <!-- END OF TRANSACTION -->
      <div class="transaction">
        <div class="service">
          <div class="icon bg-purple-light">
            <mat-icon class="material-icons-sharp purple">shopping_bag</mat-icon>
          </div>
          <div class="details">
            <h4>Shopping</h4>
            <p>10.09.2023</p>
          </div>
        </div>
        <div class="card-details">
          <div class="card bg-primary">
            <img src="./assets/visa.png">
          </div>
          <div class="details">
            <p>*1920</p>
            <small class="text-muted">Credit Card</small>
          </div>
        </div>
        <h4>-$799</h4>
      </div>
      <!-- END OF TRANSACTION -->


      <div class="transaction">
        <div class="service">
          <div class="icon bg-success-light">
            <mat-icon class="material-icons-sharp success">restaurant</mat-icon>
          </div>
          <div class="details">
            <h4>Restaurant</h4>
            <p>19.08.2023</p>
          </div>
        </div>
        <div class="card-details">
          <div class="card bg-dark">
            <img src="./assets/master%20card.png">
          </div>
          <div class="details">
            <p>*8273</p>
            <small class="text-muted">Master Card</small>
          </div>
        </div>
        <h4>-$50</h4>
      </div>
      <!-- END OF TRANSACTION -->


      <div class="transaction">
        <div class="service">
          <div class="icon bg-danger-light">
            <mat-icon class="material-icons-sharp danger">sports_esports</mat-icon>
          </div>
          <div class="details">
            <h4>Games</h4>
            <p>15.08.2023</p>
          </div>
        </div>
        <div class="card-details">
          <div class="card bg-danger">
            <img src="./assets/visa.png">
          </div>
          <div class="details">
            <p>*2757</p>
            <small class="text-muted">Credit Card</small>
          </div>
        </div>
        <h4>-$44</h4>
      </div>
      <!-- END OF TRANSACTION -->
      <div class="transaction">
        <div class="service">
          <div class="icon bg-danger-light">
            <mat-icon class="material-icons-sharp danger">medication</mat-icon>
          </div>
          <div class="details">
            <h4>Pharmacy</h4>
            <p>10.08.2023</p>
          </div>
        </div>
        <div class="card-details">
          <div class="card bg-primary">
            <img src="./assets/visa.png">
          </div>
          <div class="details">
            <p>*1920</p>
            <small class="text-muted">Credit Card</small>
          </div>
        </div>
        <h4>-$30</h4>
      </div>
      <!-- END OF TRANSACTION -->
      <div class="transaction">
        <div class="service">
          <div class="icon bg-success-light">
            <mat-icon class="material-icons-sharp success">fitness_center</mat-icon>
          </div>
          <div class="details">
            <h4>Fitness</h4>
            <p>29.07.2023</p>
          </div>
        </div>
        <div class="card-details">
          <div class="card bg-dark">
            <img src="./assets/master%20card.png">
          </div>
          <div class="details">
            <p>*8273</p>
            <small class="text-muted">Master Card</small>
          </div>
        </div>
        <h4>-$45</h4>
      </div>
      <!-- END OF TRANSACTION -->
    </div>
    <!-- END OF RECENT TRANSACTIONS -->

  </section>
  <!-- END OF RIGHT -->
</main>
